body{
    margin-left: 40px;
    margin-right: 40px;
    background-color: #e8ffef;
  }
  div{
    align-items: center;
    font-family: Poppins;
    
    
  }
  .top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  button{
    background-color: #adffc7;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.188);
  }
  
  .group-name{
    font-size: 30px;
  }
  
  .host-button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
  }
  
  .title{
    margin-top: 0;
    font-size: 50px;
  
  }
  
  .intro{
    margin-top: 0px;
    font-size: 30px;
  }
  
  .building{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    font-size: 20px;
  
  }